
/* Default Imports */
@import "fonts.css";

/* Variables */
:root {
    --main-font-family: "Ubuntu", sans-serif;
    --main-font-weight: 400;
    --main-font-size: 1rem;

    --body-color: #EEE;
    --heading-color: #EE96C0;
    --selection-color: var(--body-color);
    --selection-background-color: rgba(255, 192, 203, 0.69);

    --background-main: #333333;
    --background-trans: rgba(255, 192, 203, 0.1);

    --body-padding: 2rem 6rem;
    --head-padding: 2rem 6rem;
}

* {
    font-family: var(--main-font-family), sans-serif;

    ::selection {
        background: var(--selection-background-color);
        color: var(--selection-color);
    }
}

body {
    margin: 0;
    color: var(--body-color);
}

.logo {
    max-width: 512px;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: var(--background-main) url("../img/boop.svg") no-repeat center bottom/80%;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        /*background-color: rgba(20, 16, 14, 0.98);*/
        background-color: rgba(44, 36, 40, 0.99);
        /* #2C2428 */
    }
}

.wrapper {
    width: 100%;
}

.container {
    padding: var(--body-padding);

    h1, h2, h3, h4, h5, h6, p {

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &.header {
        padding: var(--head-padding);
    }

    &.about {
        background-color: var(--background-trans);
    }
}